html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
  font-family: var(--primary-font), Arial, sans-serif;
  font-size: 15px;
  line-height: var(--primary-line-height);
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.scroll-top {
  display: block;
  background-image: url(./../images/icons/scroll_icons.svg);
  background-repeat: no-repeat;
  background-position: center 14px;
  background-color: var(--primary-green-color);
  width: 44px;
  height: 44px;
  margin: 0 0 0 auto;
  border-radius: 50%;
  position: sticky;
  right: 75px;
  bottom: 55px;
  z-index: 999;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;

  &:hover {
    background-color: var(--tertiary-green-color);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

section {
  display: flex;
  height: 100%;
  margin: 0 0 30px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--primary-transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: var(--secondary-line-height);
  color: var(--secondary-color);
}

h1 {
  font-size: clamp(20px, 3vw, 30px);
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
}

svg {
  fill: var(--primary-black-color);
  color: var(--primary-black-color);
  flex-shrink: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: fit-content;
  border: 1px solid var(--primary-green-color);
  border-radius: var(--primary-border-radius);
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-green-color);
  text-decoration: none;
  transition: var(--secondary-transition);
  overflow: hidden;
  cursor: pointer;

  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }

  &:hover {
    background-color: var(--primary-green-color);
    color: var(--primary-white-color);
  }

  &-green {
    background-color: var(--primary-green-color);
    color: var(--primary-white-color);


    &:hover {
      background-color: var(--secondary-green-color);
      border-color: var(--secondary-green-color);
    }
  }

  &-black {
    color: var(--tertiary-grey-color);
    border-color: #aaa;

    &:hover {
      border-color: var(--secondary-green-color);
    }
  }
}

.shine {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: -55%;
    z-index: 2;
    display: block;
    content: "";
    width: 25%;
    height: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }

  &:hover::before {
    -webkit-animation: shine .5s;
    animation: shine .5s;
    opacity: 1;
  }
}

.page {
  padding: 26px 0 15px;
  background-color: var(--tertiary-bg-color);

  &__title {
    line-height: 1;
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  color: var(--primary-smooth-color);
  font-size: 12px;

  &__link {
    color: var(--primary-smooth-color);

    &:hover {
      color: var(--primary-green-color);
    }
  }

  span {
    margin: 0 5px;
  }

  p {
    font-size: 12px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0 40px;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px 5px 0;
    border-radius: var(--primary-border-radius);
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: var(--primary-black-color);
    text-align: center;
    text-decoration: none;
    transition: var(--tertiary-transition);

    &:hover {
      color: var(--primary-green-color);
    }

    &--active {
      background-color: var(--primary-green-color);
      color: var(--primary-white-color);
    }

    &--all {
      font-size: 12px;
      font-weight: 400;
      color: var(--primary-green-color);
    }
  }

  &__arrow {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: 0 5px 5px 0;
    background: url(./../images/icons/arrows_icons.svg) no-repeat;
    transition: none;

    &.prev {
      background-position: 4px -20px;

      &:hover {
        background-position: 4px 4px;
      }
    }

    &.next {
      background-position: -72px -20px;

      &:hover {
        background-position: -71px 4px;
      }
    }

    &.disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}

input[type=checkbox] {
  display: none;

  &:checked+label::before {
    font-size: 0;
    content: ".";
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid #ccc;
    border-color: var(--primary-green-color);
    background: url(./../images/icons/input_icons.svg) -1px 0 no-repeat var(--primary-green-color);
  }

  &:checked+label::after {
    z-index: -1;
  }

  &+label {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;

    &:hover::after {
      background-color: var(--primary-green-color);
      border-color: var(--primary-green-color);
    }

    &::after {
      font-size: 0;
      content: ".";
      display: block;
      height: 16px;
      width: 16px;
      position: absolute;
      top: 2px;
      left: 0;
      z-index: 1;
      border-radius: 2px;
      border: 1px solid #ccc;
      background: #fff;
    }
  }
}

input[type=hidden] {
  display: none;
}

.select {
  position: relative;
  padding: 0 15px 17px 19px;
  // z-index: 1000;

  &__button {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 0 10px;
    position: relative;
    z-index: 10;
    background: var(--primary-white-color);
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);

    font-size: 13px;
    line-height: 32px;
    color: var(--secondary-black-color);
    text-align: left;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 7px;
      height: 4px;
      background: url(./../images/icons/down_arrow_icons.png) -1px -174px no-repeat;
    }

    &:hover::after {
      background-position: -36px -174px;
    }

    svg {
      width: 7px;
      height: 4px;
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: 34px;
    left: 19px;
    z-index: 11;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: var(--primary-white-color);
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    color: var(--primary-color);
    max-width: 194px;
    width: 100%;
    max-height: 205px;
    overflow: hidden;
    overflow-y: scroll;

    &--visible {
      display: block;
    }

    &-item {
      padding: 6px 9px 6px 9px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-white-color);
      }

      &--active {
        color: var(--primary-green-color);
      }

      &.disabled {
        pointer-events: none;
        color: #b8b8b8;
        opacity: 0.4;
      }
    }
  }
}