.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 6px;
  transition: transform 0.2s ease;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  transform: scale(1.2);
  background: var(--primary-green-color);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet {
  background: var(--primary-white-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--primary-green-color);
  position: relative;
  top: 1px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: var(--tertiary-transition-color);

  &::after {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    transition: var(--tertiary-transition-color);
  }

  &:hover {
    background-color: var(--primary-green-color);
  }

  &:hover::after {
    color: var(--primary-white-color);
  }
}

.swiper-button-next {
  right: -50px;

  &::after {
    margin-right: -3px;
  }
}

.swiper-button-prev {
  left: -50px;

  &::after {
    margin-left: -3px;
  }
}

.banner__slider:hover {
  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}

.reviews {
  .swiper-button-next {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    width: 33px;
    height: 33px;
    margin: 0;
    border: var(--primary-border);
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &::after {
      font-size: 12px;
      margin: 1px -3px 0 0;
    }
  }

  .swiper-button-prev {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    width: 33px;
    height: 33px;
    margin: 0;
    border: var(--primary-border);
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &::after {
      font-size: 12px;
      margin: 1px 0 0 -1px;
    }
  }

  .swiper-pagination-bullet {
    background: var(--tertiary-smooth-color);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: var(--primary-green-color);
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    bottom: -11px;
  }
}

@media (max-width: 500px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}