@media (max-width: 1200px) {
  .wrap__list-link {
    width: 33.3333%;
  }

  .header__nav-item {
    padding: 20px;
  }

  .nav__dropdown .header__nav-item {
    padding: 14px 20px;
  }

  .nav__dropdown .header__nav-item::after {
    content: "";
    display: block;
  }
}

@media (max-width: 991px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 64px;
  }

  .header.fixed~.main {
    padding-top: 64px;
  }

  .header__container {
    display: none;
  }

  .header-mob__container {
    display: flex;
    padding: 0 16px 0 0;
  }

  .banner__container {
    flex-direction: column;
  }

  .banner__slider {
    width: 100%;
    height: 300px;
  }

  .banner__slider-content {
    padding: 10px 80px 0;
  }

  .banner__slider-title {
    font-size: 17px;
    line-height: var(--secondary-line-height);
  }

  .banner__slider-img {
    height: 300px;
  }

  .banner__items {
    flex-direction: row;
    width: 100%;
  }

  .banner__item {
    height: auto;
    aspect-ratio: 1.54/1;
  }

  .features__item {
    width: 50%;
  }

  .promo__item {
    width: 33.3333%;
  }

  .sale__item {
    width: calc(33.3333% - 20px);
  }

  .services__body {
    flex-direction: column;
  }

  .services__content {
    width: 100%;
  }

  .services__items {
    width: 100%;
  }

  .services__btn {
    display: none;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__middle {
    width: calc(81.86% - 30px);
  }

  .footer__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .footer__contacts {
    align-items: center;
  }

  .contacts__body {
    flex-direction: column;
  }

  .contacts__content {
    width: 100%;
  }

  .contacts iframe {
    width: 100%;
  }

  .callback__textareas,
  .callback__inputs,
  .callback__btns {
    width: 100%;
  }

  .callback__form {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .footer__container {
    gap: 20px;
  }

  .footer__left {
    display: none;
  }

  .footer__middle {
    width: 100%;
    gap: 20px;
  }

  .footer__right {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .scroll-top {
    display: none;
  }

  .banner__slider-item {
    justify-content: center;
    height: 300px;
  }

  .banner__slider-content {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .banner__slider-img {
    display: none;
  }

  .promo__item {
    width: 50%;
  }

  .sale__container {}

  .sale__item {
    width: calc(50% - 15px);
  }

  .services__item {
    width: calc(50% - 15px);
  }
}

@media (max-width: 600px) {
  .footer__middle {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__right {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .banner__items {
    flex-direction: column;
  }

  .banner__item {
    width: 100%;
  }

  .banner__slider {
    height: 250px;
  }

  .banner__slider-item {
    height: 250px;
  }

  .banner__slider-content {
    padding: 0 40px;
  }

  .features__item {
    width: 100%;
  }

  .promo__item {
    width: 100%;
  }

  .sale__item {
    width: 100%;
  }

  .services__item {
    width: 100%;
  }

  .reviews__slider-item {
    padding: 30px;
  }

  .reviews__slider-body {
    align-items: center;
  }

  .reviews__slider-text {
    text-align: center;
  }

  .contacts__content {
    padding: 30px 20px 30px;
  }
}

@media (max-width: 450px) {}

@media (max-width: 360px) {}