:root {
  /* fonts */
  --primary-font: 'PT Sans Caption';

  --primary-line-height: 1.5;
  --secondary-line-height: 1.33;

  /* colors */
  --primary-color: #1d2029;
  --secondary-color: #383838;
  --tertiary-color: #202020;

  --primary-green-color: #48a216;
  --secondary-green-color: #54bd1a;
  --tertiary-green-color: #3e8c12;

  --primary-red-color: #e62222;

  --primary-stock-black-color: #000000;

  --primary-black-color: #222222;
  --secondary-black-color: #333333;
  --tertiary-black-color: #555555;

  --primary-grey-color: #666666;
  --secondary-grey-color: #777777;
  --tertiary-grey-color: #888888;

  --primary-smooth-color: #b6c1dd;
  --secondary-smooth-color: #999999;
  --tertiary-smooth-color: #cad2d6;

  --primary-disabled-color: #a5a3a3;
  --secondary-disabled-color: #bababa;

  --primary-white-color: #ffffff;
  --secondary-white-color: #e3e3e3;

  --primary-bg-color: #f6f6f7;
  --secondary-bg-color: #f0f0f0;
  --tertiary-bg-color: #f9f9fa;

  --primary-overlay-color: #3a3f44;

  --primary-border-color: #f0f0f0;
  --secondary-border-color: #eeeeee;
  --tertiary-border-color: #f3f3f5;

  /* borders */
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border: 1px solid var(--secondary-border-color);
  --tertiary-border: 1px solid var(--tertiary-border-color);

  /* ui */
  --primary-border-radius: 2px;
  --primary-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  --secondary-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);

  /* transition */
  --primary-transition: color ease-out 70ms;
  --secondary-transition: all ease .3s;
  --tertiary-transition: all .3s ease;

  /* box-shadow */
  --primary-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  66% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes headerFixed {
  0% {
    transform: translateY(-64px);
    opacity: 0;
    visibility: hidden;
  }

  66% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}