.footer {
  padding: 30px 0 40px;
  margin: 30px 0 0;
  background-color: var(--primary-bg-color);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 18.14%;
  }

  &__middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 61.86%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 20%;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 33.3333%;

    &-title {
      font-size: 14px;
      font-weight: 700;
      color: var(--primary-green-color);

      &:hover {
        color: var(--primary-green-color);
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-item {
      font-size: 14px;
      color: var(--tertiary-black-color);

      &:hover {
        color: var(--primary-green-color);
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 11px;
    color: var(--primary-black-color);
    font-weight: 700;
    white-space: nowrap;

    svg {
      width: 9px;
      height: 12px;
    }
  }

  &__callback {
    font-size: 11.2px;
    color: var(--primary-green-color);
    transition: var(--primary-transition-color);

    &:hover {
      color: var(--primary-green-color);
    }
  }

  &__social {}
}

.copyright {
  font-size: 13px;
  line-height: var(--secondary-line-height);
  opacity: .6;
}

.pay {

  &__icons {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }

  &__icon {
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 0 16px 9px 0;
    padding: 0;
    background: url(./../images/pay_icons.png) no-repeat;

    &.cash {
      background-position: 0 -1px;
      width: 21px;
    }

    &.mastercard {
      background-position: -42px -1px;
      width: 28px;
    }

    &.visa {
      background-position: -89px -1px;
      width: 33px;
    }

    &.yandex_money {
      background-position: -142px -1px;
      width: 15px;
    }

    &.webmoney {
      background-position: -182px -1px;
      width: 18px;
    }

    &.qiwi {
      background-position: -222px -1px;
      width: 19px;
    }

    &.sber {
      background-position: -264px -1px;
      width: 21px;
    }

    &.alfa {
      background-position: -305px -1px;
      width: 16px;
    }

    &.belkart {
      background-position: -339px 0;
      width: 20px;
    }

    &.unionpay {
      background-position: -380px -1px;
      width: 28px;
    }

    &.sbp {
      background-position: -429px -1px;
      width: 15px;
    }
  }
}

.social {

  &__icons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--tertiary-transition-color);
    background: url(./../images/social_icons.png) -4px -4px no-repeat;
    font-size: 0;

    &:hover {
      opacity: .8;
    }

    &.twitter {
      background-position: -104px -4px;
    }

    &.telegram {
      background-position: -153px -104px;
    }

    &.ytb {
      background-position: -204px -4px;
    }

    &.odn {
      background-position: -254px -4px;
    }
  }
}