/* panel style start */
.panel {
  float: left;
  width: 234px;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    background: var(--primary-white-color);
    border: var(--primary-border);
    position: relative;

    &:hover {
      color: var(--primary-green-color);
    }

    &:hover::before {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: var(--primary-green-color);
      display: none;
    }

    &-link {
      display: block;
      padding: 12px 31px 12px 17px;
      font-size: 13px;
      font-weight: 400;
      color: inherit;
    }

    &-exit {
      color: var(--primary-green-color);

      &:hover::before {
        display: none;
      }

      .panel__item-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        &::before {
          content: "";
          display: inline-block !important;
          width: 5px;
          height: 8px;
          position: static;
          background-color: transparent;
          background-image: url(./../../images/icons/down_arrow_icons.png);
          background-repeat: no-repeat;
          background-position: -3px -292px;
        }
      }
    }
  }
}

@media(max-width:1200px) {
  .panel {
    width: 210px;
  }
}

@media(max-width:991px) {
  .panel__item {
    border: 0;
    width: fit-content;
  }

  .panel__item:not(.panel__item-exit) {
    display: none;
  }
}

/* panel style end */