/* sidebar style start */
.sidebar {

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 12px 31px 12px 17px;
    background: var(--primary-white-color);
    border: var(--primary-border);

    &-link {
      color: inherit;
    }
  }
}
/* sidebar style end */