:root {
  /* fonts */
  --primary-font: "PT Sans Caption";
  --primary-line-height: 1.5;
  --secondary-line-height: 1.33;
  /* colors */
  --primary-color: #48a216;
  --secondary-color: #383838;
  --primary-black-color: #222222;
  --secondary-black-color: #333333;
  --tertiary-black-color: #555555;
  --primary-grey-color: #666666;
  --secondary-grey-color: #777777;
  --tertiary-grey-color: #888888;
  --primary-smooth-color: #b6c1dd;
  --secondary-smooth-color: #999999;
  --primary-white-color: #ffffff;
  --primary-bg-color: #f6f6f7;
  --primary-border-color: #f0f0f0;
  --secondary-border-color: #eeeeee;
  /* borders */
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border: 1px solid var(--secondary-border-color);
  /* ui */
  --primary-border-radius: 2px;
  --primary-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  /* transition */
  --transition-color: color ease-out 70ms;
}

@font-face {
  font-family: "PT Sans Caption";
  src: url(./../fonts/PTSansCaption-Regular.woff2), url(./../fonts/PTSansCaption-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans Caption";
  src: url(./../fonts/PTSansCaption-Bold.woff2), url(./../fonts/PTSansCaption-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/*! modern-normalize v3.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0;
  /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-white-color);
  color: var(--primary-black-color);
  font-family: var(--primary-font), Arial, sans-serif;
  font-size: 15px;
  line-height: var(--primary-line-height);
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: var(--secondary-line-height);
  color: var(--secondary-color);
}

h1 {
  font-size: clamp(20px, 3vw, 30px);
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--primary-white-color);
}

.header {
  border-bottom: var(--primary-border);
}
.header__container {
  display: flex;
  flex-wrap: wrap;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 50%;
  padding: 30px 0;
}
.header__logo {
  width: 190px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}
.header__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  line-height: var(--secondary-line-height);
  color: var(--secondary-smooth-color);
  max-width: 190px;
  margin: 0;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 50%;
  padding: 30px 0;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__phone {
  color: var(--primary-black-color);
  font-weight: 700;
}
.header__phone svg {
  width: 9px;
  height: 12px;
}
.header__clock {
  font-size: 11.2px;
  color: var(--secondary-smooth-color);
}
.header__btn {
  line-height: 0.85;
}
.header__nav {
  width: 100%;
  border-top: var(--primary-border);
}
.header__nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.header__nav-item {
  display: block;
  width: 100%;
  padding: 20px 18px;
  font-weight: 700;
  line-height: var(--secondary-line-height);
  color: inherit;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}
.header__nav-item:hover {
  color: var(--primary-color);
}
.header__nav-item:hover .header__nav-link::after {
  width: 100%;
}
.header__nav-link {
  position: relative;
}
.header__nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -21px;
  left: 0;
  transition: width 0.15s ease-out;
}

.dropdown__menu {
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 0;
}

.double__menu {
  display: flex;
  flex-direction: row;
  position: relative;
}
.double__menu-left {
  width: 50%;
}
.double__menu-right {
  width: 50%;
}
.double__menu::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--primary-border-color);
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
}

.wrap__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.wrap__head-title {
  color: var(--secondary-black-color);
  font-size: 14px;
  font-weight: 700;
  line-height: var(--primary-line-height);
}
.wrap__head-link {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 400;
  line-height: var(--primary-line-height);
}
.wrap__head-link:hover {
  color: var(--secondary-black-color);
}
.wrap__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.wrap__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wrap__item-title {
  color: var(--secondary-black-color);
  font-size: 14px;
  font-weight: 700;
  line-height: var(--primary-line-height);
}
.wrap__item-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wrap__item-link {
  color: var(--secondary-black-color);
  font-size: 14px;
  font-weight: 400;
  line-height: var(--primary-line-height);
}
.wrap__item-link:hover {
  color: var(--primary-color);
}
.wrap__list {
  display: flex;
  flex-wrap: wrap;
}
.wrap__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 20px 0 0;
  margin: 0 0 15px 0;
}
.wrap__list-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}
.wrap__list-name {
  display: none;
  color: var(--secondary-black-color);
  font-size: 0;
  font-weight: 700;
  line-height: var(--primary-line-height);
}