<footer class="footer">
  <div class="footer__container container">
    <div class="footer__left">
      <p class="copyright">
        2024 © Шины и диски
      </p>
      <div class="pay__icons">
        <i class="pay__icon cash" title="Cash"></i>
        <i class="pay__icon mastercard" title="MasterCard"></i>
        <i class="pay__icon visa" title="Visa"></i>
        <i class="pay__icon yandex_money" title="Yandex"></i>
        <i class="pay__icon webmoney" title="WebMoney"></i>
        <i class="pay__icon qiwi" title="Qiwi"></i>
        <i class="pay__icon sber" title="Sberbank"></i>
        <i class="pay__icon alfa" title="Alfa"></i>
        <i class="pay__icon belkart" title="Belkart"></i>
        <i class="pay__icon unionpay" title="UnionPay"></i>
        <i class="pay__icon sbp" title="Sbp"></i>
      </div>
    </div>
    <div class="footer__middle">
      <div class="footer__menu">
        <a class="footer__menu-title" href="/">Каталог</a>
        <div class="footer__menu-items">
          <a class="footer__menu-item" href="/">
            Шины
          </a>
          <a class="footer__menu-item" href="/">
            Мотошины
          </a>
          <a class="footer__menu-item" href="/">
            Грузовые шины
          </a>
          <a class="footer__menu-item" href="/">
            Диски
          </a>
          <a class="footer__menu-item" href="/">
            Аккумуляторы
          </a>
          <a class="footer__menu-item" href="/">
            Расходные материалы
          </a>
        </div>
      </div>
      <div class="footer__menu">
        <a class="footer__menu-title" href="/">Покупателю</a>
        <div class="footer__menu-items">
          <a class="footer__menu-item" href="/">
            Условия оплаты
          </a>
          <a class="footer__menu-item" href="/">
            Условия доставки
          </a>
          <a class="footer__menu-item" href="/">
            Гарантия на товар
          </a>
          <a class="footer__menu-item" href="/">
            Вопрос-ответ
          </a>
          <a class="footer__menu-item" href="/">
            Акции
          </a>
          <a class="footer__menu-item" href="/">
            Возможности
          </a>
        </div>
      </div>
      <div class="footer__menu">
        <a class="footer__menu-title" href="/">О магазине</a>
        <div class="footer__menu-items">
          <a class="footer__menu-item" href="/">
            Новости
          </a>
          <a class="footer__menu-item" href="/">
            Магазины
          </a>
          <a class="footer__menu-item" href="/">
            Статьи
          </a>
          <a class="footer__menu-item" href="/">
            Обзоры
          </a>
          <a class="footer__menu-item" href="/">
            Политика
          </a>
        </div>
      </div>
    </div>
    <div class="footer__right">
      <div class="footer__contacts">
        <a class="footer__phone" href="tel:+70000000000">
          <svg>
            <use href="./../images/sprite.svg?v4#phone" />
          </svg>
          +7 (000) 000-00-00
        </a>
        <span class="footer__callback">
          Заказать звонок
        </span>
      </div>
      <div class="footer__social">
        <div class="social__icons">
          <a class="social__icon vk" href="/" target="_blank" rel="nofollow" title="Вконтакте">
            Вконтакте
          </a>
          <a class="social__icon twitter" href="/" target="_blank" rel="nofollow" title="Twitter">
            Twitter
          </a>
          <a class="social__icon telegram" href="/" target="_blank" rel="nofollow" title="Telegram">
            Telegram
          </a>
          <a class="social__icon ytb" href="/" target="_blank" rel="nofollow" title="YouTube">
            YouTube
          </a>
          <a class="social__icon odn" href="/" target="_blank" rel="nofollow" title="Одноклассники">
            Одноклассники
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>

<script defer src="./../libs/swiper/swiper-bundle.min.js"></script>
<script defer src="./../libs/priority-nav/priority-nav.min.js"></script>
<script defer src="js/main.js"></script>
</body>

</html>