<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TireShop</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container container">
        <div class="header__left">
          <a class="header__logo" href="/">
            <img src="./../images/logo.svg" alt="">
          </a>
          <p class="header__text">
            Готовый интернет-магазин
            на 1С-Битрикс
          </p>
        </div>
        <div class="header__right">
          <div class="header__contacts">
            <a class="header__phone" href="tel:+70000000000">
              <svg>
                <use href="./../images/sprite.svg?v0#phone" />
              </svg>
              +7 (000) 000-00-00
            </a>
            <span class="header__clock">
              Звоните с 8:00 до 18:00
            </span>
          </div>
          <a class="header__btn btn" href="#!">
            Заказать звонок
          </a>
        </div>
        <nav class="header__nav">
          <div class="header__nav-items">
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Шины</a>
              <div class="dropdown__menu double__menu">
                <div class="double__menu-left">
                  <div class="wrap__items">
                    <div class="wrap__item">
                      <p class="wrap__item-title">Подбор шин</p>
                      <div class="wrap__item-links">
                        <a class="wrap__item-link" href="/">Каталог шин</a>
                        <a class="wrap__item-link" href="/">Подбор по параметрам</a>
                      </div>
                    </div>
                    <div class="wrap__item">
                      <p class="wrap__item-title">Сезон</p>
                      <div class="wrap__item-links">
                        <a class="wrap__item-link" href="/">
                          Всесезонные шины
                        </a>
                        <a class="wrap__item-link" href="/">
                          Зимние шины
                        </a>
                        <a class="wrap__item-link" href="/">
                          Летние шины
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="wrap__items">
                    <div class="wrap__item">
                      <p class="wrap__item-title">Популярные типоразмеры</p>
                      <div class="wrap__item-links">
                        <a class="wrap__item-link" href="/">
                          175/65 R14
                        </a>
                        <a class="wrap__item-link" href="/">
                          185/65 R14
                        </a>
                        <a class="wrap__item-link" href="/">
                          185/65 R15
                        </a>
                        <a class="wrap__item-link" href="/">
                          195/60 R16
                        </a>
                        <a class="wrap__item-link" href="/">
                          195/65 R15
                        </a>
                        <a class="wrap__item-link" href="/">
                          205/55 R16
                        </a>
                        <a class="wrap__item-link" href="/">
                          215/55 R16
                        </a>
                        <a class="wrap__item-link" href="/">
                          215/60 R17
                        </a>
                        <a class="wrap__item-link" href="/">
                          225/60 R18
                        </a>
                        <a class="wrap__item-link" href="/">
                          235/55 R17
                        </a>
                        <a class="wrap__item-link" href="/">
                          235/55 R18
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="double__menu-right">
                  <div class="wrap__head">
                    <p class="wrap__head-title">Популярные производители</p>
                    <a class="wrap__head-link" href="/">Все производители</a>
                  </div>
                  <div class="wrap__list">
                    <a class="wrap__list-link" href="/" title="Achilles">
                      <img class="wrap__list-img" src="./../images/brands/brand-achilles.webp" alt="Achilles"
                        title="Achilles">
                      <p class="wrap__list-name">Achilles</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Aeolus">
                      <img class="wrap__list-img" src="./../images/brands/brand-aeolus.webp" alt="Aeolus"
                        title="Aeolus">
                      <p class="wrap__list-name">Aeolus</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Amtel">
                      <img class="wrap__list-img" src="./../images/brands/brand-amtel.webp" alt="Amtel" title="Amtel">
                      <p class="wrap__list-name">Amtel</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Barum">
                      <img class="wrap__list-img" src="./../images/brands/brand-barum.webp" alt="Barum" title="Barum">
                      <p class="wrap__list-name">Barum</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="BFGoodrich">
                      <img class="wrap__list-img" src="./../images/brands/brand-bfgoodrich.webp" alt="BFGoodrich"
                        title="BFGoodrich">
                      <p class="wrap__list-name">BFGoodrich</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Bridgestone">
                      <img class="wrap__list-img" src="./../images/brands/brand-bridgestone.webp" alt="Bridgestone"
                        title="Bridgestone">
                      <p class="wrap__list-name">Bridgestone</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Continental">
                      <img class="wrap__list-img" src="./../images/brands/brand-continental.webp" alt="Continental"
                        title="Continental">
                      <p class="wrap__list-name">Continental</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Cordiant">
                      <img class="wrap__list-img" src="./../images/brands/brand-cordinat.webp" alt="Cordiant"
                        title="Cordiant">
                      <p class="wrap__list-name">Cordiant</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Gislaved">
                      <img class="wrap__list-img" src="./../images/brands/brand-gislaved.webp" alt="Gislaved"
                        title="Gislaved">
                      <p class="wrap__list-name">Gislaved</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Goodyear">
                      <img class="wrap__list-img" src="./../images/brands/brand-goodyear.webp" alt="Goodyear"
                        title="Goodyear">
                      <p class="wrap__list-name">Goodyear</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Hankook">
                      <img class="wrap__list-img" src="./../images/brands/brand-hankook.webp" alt="Hankook"
                        title="Hankook">
                      <p class="wrap__list-name">Hankook</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Matador">
                      <img class="wrap__list-img" src="./../images/brands/brand-matador.webp" alt="Matador"
                        title="Matador">
                      <p class="wrap__list-name">Matador</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Maxxis">
                      <img class="wrap__list-img" src="./../images/brands/brand-maxxis.webp" alt="Maxxis"
                        title="Maxxis">
                      <p class="wrap__list-name">Maxxis</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Michelin">
                      <img class="wrap__list-img" src="./../images/brands/brand-michelin.webp" alt="Michelin"
                        title="Michelin">
                      <p class="wrap__list-name">Michelin</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Nexen">
                      <img class="wrap__list-img" src="./../images/brands/brand-nexen.webp" alt="Nexen" title="Nexen">
                      <p class="wrap__list-name">Nexen</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Nokian">
                      <img class="wrap__list-img" src="./../images/brands/brand-nokiantires.webp" alt="Nokian"
                        title="Nokian">
                      <p class="wrap__list-name">Nokian</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Pirelli">
                      <img class="wrap__list-img" src="./../images/brands/brand-pirelli.webp" alt="Pirelli"
                        title="Pirelli">
                      <p class="wrap__list-name">Pirelli</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Tigar">
                      <img class="wrap__list-img" src="./../images/brands/brand-tigar.webp" alt="Tigar" title="Tigar">
                      <p class="wrap__list-name">Tigar</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Yokohama">
                      <img class="wrap__list-img" src="./../images/brands/brand-yokohama.webp" alt="Yokohama"
                        title="Yokohama">
                      <p class="wrap__list-name">Yokohama</p>
                    </a>
                    <a class="wrap__list-link" href="/" title="Кама">
                      <img class="wrap__list-img" src="./../images/brands/brand-kama.webp" alt="Кама" title="Кама">
                      <p class="wrap__list-name">Кама</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Диски</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">АКБ</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Мотошины</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Грузовые шины</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Расходные материалы</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Акции</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Услуги</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Магазины</a>
            </div>
            <div class="header__nav-item">
              <a class="header__nav-link" href="/">Контакты</a>
            </div>
          </div>
        </nav>
      </div>
    </header>