.order {
  display: flex;

  &__container {
    width: 100%;
  }

  &__form {
    display: block;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(100% - 330px);
    float: left;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: -20px;

    .order__btn {
      width: fit-content;
    }

    .label-title {
      color: var(--secondary-black-color);
    }

    .label-error {
      text-align: left;
    }

    a {
      color: var(--primary-green-color);

      &:hover {
        color: inherit;
      }
    }
  }

  &__side {
    float: right;
    width: 300px;
    position: sticky;
    top: 90px;
    color: var(--secondary-black-color);

    &-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 30px 29px 31px 29px;
      border: var(--primary-border);
    }

    &-title {
      font-size: 16px;
      font-weight: 700;
    }

    &-link {
      color: var(--primary-green-color);

      &:hover {
        color: inherit;
      }
    }

    &-body {
      padding: 43px 29px 40px 29px;
      border-right: var(--primary-border);
      border-left: var(--primary-border);
      border-bottom: var(--primary-border);
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2px;
      border-bottom: var(--primary-border);
      padding: 0 0 27px 0;
    }

    &-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__btn {
    width: 100%;
  }

  &__result {
    padding: 25px 0 26px;

    &-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__coupon {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 29px 42px 34px;
    border: var(--primary-border);

    &-text {
      margin-bottom: 6px;
      font-size: 13px;
      color: var(--secondary-grey-color);
    }

    &-item {
      position: relative;
      border-radius: var(--primary-border-radius);
      overflow: hidden;

      &:hover .order__coupon-btn {
        background-color: var(--primary-green-color);
        background-position: 9px -30px;
      }
    }

    &-input {
      padding: 8px 13px 7px;
      border: var(--secondary-border);
      font-size: 13px;
      width: 100%;
    }

    &-btn {
      width: 45px;
      height: auto;
      background-image: url(./../images/order/order_ext_icons.svg);
      background-position: -30px -30px;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      top: -1px;
      right: 0;
      bottom: -1px;
      border: 0;
    }
  }
}

.buyer {
  padding: 37px 29px 42px 79px;
  border: var(--primary-border);

  &__title {
    font-size: 20px;
    color: var(--secondary-black-color);
    position: relative;
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      left: -50px;
      top: -2px;
      margin: 0;
      width: 30px;
      height: 30px;
      background: url(./../images/order/order_icons.svg) -30px -30px no-repeat;
      background-color: #52c200;
    }
  }

  &__profile {

    &-select {
      width: 100%;
      padding: 6px 12px;
      border: var(--secondary-border);
      border-radius: var(--primary-border-radius);
      background-color: var(--primary-bg-color);
      font-size: 14px;
      color: var(--tertiary-black-color);
      line-height: var(--primary-line-height);
      cursor: pointer;
    }
  }

  &__radio {}

  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.method {
  display: flex;
  flex-direction: row;
  gap: 30px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: calc(50% - 15px);
    padding: 37px 29px 72px 29px;
    border: var(--primary-border);
  }

  &__title {
    font-size: 20px;
    color: var(--secondary-black-color);
    position: relative;
    padding: 0 0 0 50px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      margin: 0;
      width: 30px;
      height: 30px;
      background: url(./../images/order/order_icons.svg) -30px -30px no-repeat;
      background-color: #52c200;
    }
  }

  &__radio {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      width: fit-content;
      height: fit-content;
      padding: 5px 7px 5px 9px;
      background: var(--secondary-bg-color);
      border: none;
      border-radius: var(--primary-border-radius);
      color: var(--secondary-black-color);
      font-size: 13px;
      line-height: 10px;
      margin: 0 0 0 32px;
    }

    &-text {
      color: var(--secondary-grey-color);
      font-size: 13px;
      padding: 0 0 0 32px;
    }
  }

  .order__coupon {
    display: none;
  }
}

.goods {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    border: var(--primary-border);
    padding: 34px 34px 29px 79px;

    &-title {
      font-size: 20px;
      color: var(--secondary-black-color);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -50px;
        top: -2px;
        margin: 0;
        width: 30px;
        height: 30px;
        background: url(./../images/order/order_icons.svg) -30px -30px no-repeat;
        background-color: #52c200;
      }
    }

    &-link {
      font-size: 14px;
      color: var(--primary-green-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__body {
    border-right: var(--primary-border);
    border-left: var(--primary-border);
    overflow-x: auto;
  }

  &__footer {
    border: var(--primary-border);
    padding: 25px 29px 27px 29px;
  }
}

table.table {
  width: 100%;
  border-spacing: unset;
  color: var(--secondary-black-color);
}

.table {

  tr {
    width: 100%;
    border-spacing: unset;
  }

  td {
    display: table-cell;
    vertical-align: top;
    border-spacing: unset;
    border-bottom: var(--primary-border);
    min-width: fit-content;

    &:first-child {
      min-width: 300px;
    }

    &:last-child {
      padding-right: 24px;
    }
  }

  thead {
    font-size: 13px;
    color: var(--secondary-smooth-color);

    tr {}

    td {
      padding: 7px 10px 8px;
    }
  }

  tbody {
    td {
      padding: 39px 10px 25px;
      line-height: 20px;

      &:first-child {
        font-size: 14px;
      }

      &:not(:first-child) {
        white-space: nowrap;
      }
    }

    a {

      &:first-child {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 20px 0 14px;
        float: left;
      }

      &:last-child {}
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__price,
  &__sum {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
  }
}

.textareas {

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }
}

.textarea {
  width: 100%;
  min-height: 197px;
  padding: 8px 13px 7px;
  border: var(--secondary-border);
  border-radius: var(--primary-border-radius);
  background-color: var(--primary-bg-color);
  color: var(--secondary-color);
  font-size: 13px;
  line-height: var(--primary-line-height);
  resize: none;
}

.input {
  width: 100%;
  border: var(--secondary-border);
  border-radius: var(--primary-border-radius);
  background-color: var(--primary-bg-color);
  color: var(--secondary-color);
  font-size: 13px;
  line-height: var(--primary-line-height);
  padding: 8px 13px 7px;
}

.label {

  &:last-child .callback__input {
    margin-bottom: 0;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  &-title {
    font-size: 13px;
    color: var(--tertiary-grey-color);

    span {
      color: var(--primary-red-color);
    }
  }

  &-error {
    font-size: 10px;
    color: var(--primary-red-color);
    margin-bottom: 6px;
    opacity: 0;
    visibility: hidden;
  }
}

.radio {

  &-label {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: var(--secondary-black-color);
    padding: 0 0 0 32px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: -1px;
      width: 20px;
      height: 20px;
      border: var(--primary-border);
      border-radius: 100%;
      background: #fbfbfb;
      border-color: #e9e9e9;
    }

    &:hover::before {
      background: var(--primary-green-color);
      border-color: var(--primary-green-color);
    }
  }

  &-input {
    display: none;

    &:checked+.radio-label {
      &::before {
        background: var(--primary-green-color);
        border-color: var(--primary-green-color);
      }

      &::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 8px;
        background: url(./../images/order/order_ext_icons.svg) -64px -9px no-repeat;
      }
    }
  }
}

.error .label-error {
  opacity: 1;
  visibility: visible;
}

.btn-border {
  background-color: transparent;
}

.mob-head {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary-smooth-color);
}

@media (max-width:1200px) {
  .order__side {
    width: 280px;
  }

  .order__content {
    width: calc(100% - 310px);
  }
}

@media (max-width:991px) {
  .order__form {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .order__side {
    width: 100%;
    position: static;
  }

  .order__content {
    width: 100%;
    gap: 20px 30px;
  }

  .buyer {
    padding: 37px 29px 42px 29px;
  }

  .buyer__title {
    padding: 0 0 0 50px;
  }

  .buyer__title::before {
    left: 0;
  }

  .goods__body {
    overflow: unset;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: grid;
    padding-left: 110px;
    border-bottom: var(--primary-border);
  }

  .table td {
    border: 0;
  }

  .table tbody td {
    padding: 20px 10px;
  }

  .table tbody td:nth-child(1) {
    margin-left: -110px;
    grid-column: 1/6;
    grid-row: 1/3;
  }

  .table tbody td:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .table tbody td:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .table tbody td:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .table tbody td:nth-child(5) {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .table tbody td:nth-child(6) {
    grid-column: 5/6;
    grid-row: 2/3;
  }

  .mob-head {
    display: block;
  }
}

@media (max-width:768px) {
  .method .order__coupon {
    display: block;
  }

  .method {
    flex-direction: column;
    gap: 0;
  }

  .method__item {
    width: 100%;
  }

  .method__item:last-child {
    margin-top: 20px;
  }

  .order__coupon:not(.method .order__coupon) {
    margin-top: -20px;
  }

  .order__coupon {
    border-top: 0;
  }

  .table tbody td {
    padding: 10px 0 0;
  }

  .table tbody td:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .table tbody td:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .table tbody td:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .table tbody td:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .table tbody td:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .table tbody td:nth-child(6) {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-bottom: 20px;
  }
}

@media (max-width:500px) {
  .table tr {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .table td {
    width: 100px;
  }

  .table td:first-child {
    min-width: none;
  }

  .table tbody td:nth-child(1) {
    margin: 0;
    padding: 0;
  }

  .table tbody a:first-child {
    float: none;
  }

  .table tbody td:nth-child(6) {
    padding-bottom: 0;
  }

  .table tbody a:first-child {
    margin: 0;
    padding-bottom: 10px;
  }
}